/* ###############################
 * Name: Gallon-brown
 * Author: Ian MacGregor (Original)
 * Author: alexsson (Modification)
 * Date: February 2, 2019
 * License: GPL v3
 * ###############################*/

stage {
    font-family: Noto Sans, sans-serif;
}

.cinnamon-link {
    color: #0000ff;
    text-decoration: underline;
}

.cinnamon-link:hover {
    color: #0000e0;
}

.label-shadow {
}

StScrollBar
{
  padding: 0px;
}

StScrollView.vfade {
  -st-vfade-offset: 0px;
}

StScrollView StScrollBar
{
  min-width: 6px;
  min-height: 6px;
}


StScrollBar StBin#trough {
    background-color: rgba(35,35,35,1.0);
    border-radius: 2px;
}

StScrollBar StButton#vhandle
{
    background-color: rgba(35,35,35,1.0);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 2px;
}

StScrollBar StButton#hhandleTooltip
{
    background-color: rgba(35,35,35,1.0);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 2px;
}

StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover
{
    background-color: rgba(35,35,35,1.0);
}

#Tooltip {
    border: 0px solid #232323;
    border-radius: 0px;
    padding: 2px 12px;
    background-color: #232323;
    color: #D2D2D2;
    font-size: 8.5pt;
    font-weight: normal;
    text-align: center;
}

/* ===================================================================
 * Shared button properties
 * ===================================================================*/

.notification-button, .notification-icon-button,
.hotplug-notification-item, .hotplug-resident-eject-button,
.modal-dialog-button {
    color: #D2D2D2;
    border-image: url('buttons/button.png') 5;
    font-size: 8.5pt;
    font-weight: normal;
    text-align: center;
}

.notification-button:hover,
.notification-icon-button:hover, .hotplug-notification-item:hover,
.hotplug-resident-eject-button:hover, .modal-dialog-button:hover {
    border-image: url('buttons/button-hover.png') 5;
}

.notification-button:focus,
.notification-icon-button:focus, .hotplug-notification-item:focus,
.modal-dialog-button:focus {
    border-image: url('buttons/button-focused.png') 5;
}

.notification-button:active, .notification-icon-button:active,
.hotplug-notification-item:active, .hotplug-resident-eject-button:active,
.modal-dialog-button:active, .modal-dialog-button:pressed {
    border-image: url('buttons/button-pressed.png') 5;
}

/* ===================================================================
 * User Applet
 * ===================================================================*/

.user-box {
    padding: .4em 1.5em;
    padding-bottom: .6em;
    spacing: 10px;
}

.user-icon {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 0 solid transparent;
    border-radius: 0;
    padding: 0;
    border-radius: 0;
    padding: 0;
}

.user-label {
    color: #D2D2D2;
    font-size: 10pt;
    font-weight: normal;
    margin: 0;
}

/* ===================================================================
 * PopupMenu (popupMenu.js)
 * ===================================================================*/

.popup-menu-boxpointer {
    -arrow-background-color: transparent;
    -arrow-border-color: transparent;
    -boxpointer-gap: 0px;
    -arrow-border-radius: 16px;
    -arrow-base: 16px;
    -arrow-rise: -1px;
    -arrow-border-width: 0px;
}

/* Cinnamon 3.2 fix */
.popup-menu,
.menu {
    background-color: #232323;
    border-image: url('popup-menu.png') 8 8 8 8;
    color: #D2D2D2;
    font-size: 9pt;
}
.popup-submenu-menu-item:ope {
    background-color: #232323;
}
.popup-sub-menu {
    background-color: transparent;
}
.popup-sub-menu .popup-menu-item:ltr {
    padding-right: 0em;
}
.popup-sub-menu .popup-menu-item:rtl {
    padding-left: 0em;
}
.popup-sub-menu StScrollBar {
    padding: 4px;
}
.popup-sub-menu StScrollBar StBin#trough {
    border-width: 0px;
}
.popup-sub-menu StScrollBar StBin#vhandle {
    background-color: #232323;
    border-width: 0px;
}
.popup-combo-menu {
    background-color: #232323;
    padding: 1em 0em;
    color: #D2D2D2;
    font-size: 10.5pt;
    border-radius: 0px 0px 8px 0px;
}

.popup-menu-content {
    padding: 1em 0;
}
.popup-menu-item {
    padding: .4em 1.75em;
    spacing: 1em;
}
.popup-menu-item:active {
    background-color: #2c2c2c;
}
.popup-menu-item:insensitive {
    color: #808080;
}
.popup-image-menu-item {
}
.popup-combobox-item {
    spacing: 1em;
}
.popup-separator-menu-item {
    height: 1px;
}
.popup-alternating-menu-item:alternate {
    font-weight: bold;
}
.popup-slider-menu-item {
    height: 1em;
    min-width: 15em;
    -slider-height: 0.3em;
    -slider-background-color: #2c2c2c;
    -slider-border-color: #232323;
    -slider-active-background-color: #D2D2D2;
    -slider-active-border-color: #232323;
    -slider-border-width: 2px;
    -slider-handle-radius: 0.5em;
}
.popup-device-menu-item {
    spacing: .5em;
}
.popup-inactive-menu-item {
    font-weight: normal;
    color: #808080;
}
.popup-subtitle-menu-item {
    font-weight: bold;
}
.popup-menu-icon {
    icon-size: 1.14em;
}

/* Switches (to be used in menus) */
.toggle-switch {
    width: 52px;
    height: 18px;
}

.toggle-switch-us, .toggle-switch-intl {
    background-image: url("ch-uncheck.png");
}

.toggle-switch-us:checked, .toggle-switch-intl:checked {
    background-image: url("ch-check.png");
}

.nm-menu-item-icons {
    spacing: .5em;
}

/* ===================================================================
 * Panel (panel.js)
 * ===================================================================*/

#panel {
    color: #D2D2D2;
    text-shadow: none;
    background-color: #232323;
    font-size: 9pt;
    border-image: url('panel-left.png') 80 0 0 0;
    font-weight: normal;
    height: 30px;
    outline: 0px rgba(255,255,255,1);
}

#panelLeft .applet-box:first-child {
    border-image: url('menu-button.png') 7 0 0 0;
    border-right-width: 0px;
    font-size: 12pt;
    font-weight: bold;
    text-shadow: none;
    color:  rgba(35,35,35,1.0);
}

#panelLeft .applet-box:first-child:hover {
    border-image: url('menu-button-hover.png') 7 0 0 0;
    font-weight: bold;
    color:  rgba(35,35,35,1.0);
}

#panelLeft .applet-box:first-child:active {
    border-image: url('menu-button-active.png') 7 0 0 0;
}

#panelLeft, #panelCenter {
    spacing: 4px;
}

#panelRight {
    border-image: url('panel-right.png') 7 0 0 0;
    border-left-width: 5px;

}

#panelLeft:dnd {
}

#panelCenter:dnd {
}

#panelRight:dnd {
}

#panelLeft:ltr {
    padding-right: 4px;
}

#panelLeft:rtl {
    padding-left: 4px;
}

#panelRight:ltr {
    padding-left: 0px;
    spacing: 0px;
}

#panelRight:rtl {
    padding-right: 0px;
    spacing: 0px;
}

.panel-top {
}

.panel-bottom {
}

.panel-status-button,
.panel-button {
-natural-hpadding: 5px;
-minimum-hpadding: 5px;
font-weight: bold;
border: 0px solid transparent;
transition-duration: 150;
}

.panel-status-button:hover,
.panel-button:hover {
    background-color: #2c2c2c;
    border-radius: 0px;
    transition-duration: 100;
}

.panel-status-button:active {
    color: #D2D2D2;
}

.system-status-icon {
    padding-left: 0px;
    padding-right: 0px;
    spacing: 0px;
    margin: 0px;
}

#appMenu {
    spacing: 4px;
}

.panel-button #appMenuIcon {
    app-icon-bottom-clip: 1px;
}

.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
    app-icon-bottom-clip: 2px;
}

.panel-button {
    -natural-hpadding: 6px;
    -minimum-hpadding: 2px;
    font-weight: bold;
    color: #D2D2D2;
    transition-duration: 100;
}

.panel-button:hover {
    color: #D2D2D2;
}

.panel-button:active,
.panel-button:overview,
.panel-button:focus {
    color: #D2D2D2;
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
    icon-shadow: none;
}

.panel-menu {
}

.popup-menu-item-dot {

}

.system-status-icon {
    icon-size: 1.14em;
}

/* ===================================================================
 * Overview
 * ===================================================================*/

#overview {
    spacing: 12px;
}

.window-caption {
    background-color: #232323;
    border-radius: 0px;
    color: #D2D2D2;
    spacing: 25px;
}

.window-caption#selected {
    background-color: #2c2c2c;
    border-radius: 0px;
    color: #D2D2D2;
    spacing: 25px;
}

.workspace-controls {
    visible-height: 32px; /* Amount visible before hovering */
}

.workspace-thumbnails-background {
    border: 0px #232323;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-radius:  0px;
    background-color: #232323;
    padding: 8px;
}

.workspace-thumbnails-background:rtl {
    border-right: 0px;
    border-left: 0px;
    border-radius: 0px 0px 0px 0px;
}

.workspace-thumbnails {
        spacing: 14px;
}

.workspace-add-button {
    background-image: url("add-workspace.png");
    height: 200px;
    width: 35px;
    transition-duration: 300;
}

.workspace-add-button:hover {
    background-image: url("add-workspace-hover.png");
    transition-duration: 300;
}

.workspace-close-button {
    background-image: url("workspace-close.png");
    height: 34px;
    width: 34px;
    -cinnamon-close-overlap: 20px;
}

.window-close:hover,
.window-close:active {
    background-image: url("workspace-close-hover.png");
}


.workspace-thumbnail-indicator {
    outline: 2px solid #D2D2D2;
    border: 0px solid #888;
}

.window-caption {
    background-color: #232323;
    border-radius: 0px;
    font-size: 9pt;
    padding: 2px 8px;
    -cinnamon-caption-spacing: 4px;
}

.window-close {
    background-image: url("workspace-close.png");
    height: 34px;
    width: 34px;
    -cinnamon-close-overlap: 20px;
}

.window-close:rtl {
}

.window-close-area {
    background-image: url("trash-icon.png");
    background-color: #232323;
    border: 0px solid #399cee;
    border-bottom: 0px;
    border-radius: 0px;
    height: 120px;
    width: 400px;
}

.icon-grid {
    spacing: 36px;
    -cinnamon-grid-item-size: 118px;
}

.icon-grid .overview-icon {
    icon-size: 96px;
}

.overview-icon {
    border-radius: 4px;
    padding: 3px;
    border: 0px rgba(0,0,0,0);
    font-size: 7.5pt;
    color: #D2D2D2;
    transition-duration: 100;
    text-align: center;
}

.expo-background {
    background-color: #232323;
}

.workspace-overview-background-shade {
  background-color: #232323;
}

.expo-workspace-thumbnail-frame {
  border: 0px, white;
  background-color: #232323;
}

.expo-workspace-thumbnail-frame#active {
  border: 0px, #399cee;
  background-color: #2c2c2c;
}

/* ===================================================================
* Desklets (desklet.js)
* ===================================================================*/
.desklet {
color: #D2D2D2;
}

.desklet-with-borders {
	  border: 4px solid #232323;
    background-color: #232323;
    border-radius: 0px;
	  color: #D2D2D2;
}

.desklet-with-borders-and-header {
	border: 4px solid #232323;
  background-color: #232323;
	color: #D2D2D2;
    border-radius-bottomleft: 0px;
    border-radius-bottomright: 0px;
}

.desklet-header {
    border-radius-topleft: 0px;
    border-radius-topright: 0px;
    font-size: 10.5pt;

	border: 4px solid #232323;
    background-color: #232323;
    border-radius: 0px;
	color: #D2D2D2;
    padding: 6px;
}

.desklet-drag-placeholder {
    background-color: rgba(57,156,238,.31);
}


.clock-desklet-label {
}

.photoframe-box {
	padding: 6px;
	border: 4px solid #232323;
    background-color: #232323;
    border-radius: 0px;

}
.xkcd-box {
	padding: 0px;
	border: none;
	background-color: none;
	border-radius: 0px;
}

/* ===================================================================
 * Clock Desklet (desklet.js)
 * ===================================================================*/
.clock-desklet-label {
}


/* ===================================================================
 * Looking Glass
 * ===================================================================*/

#LookingGlassDialog {
  background-gradient-direction: vertical;
          background-gradient-start:  #000000;
          background-gradient-end: #2f343d;
    spacing: 4px;
    padding: 4px;
        border: 2px solid #399cee;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    color: #fff;
}
#LookingGlassDialog > #Toolbar {
    border: 2px solid #399cee;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 4px;
}
#LookingGlassDialog .labels {
    spacing: 4px;
}
#LookingGlassDialog .notebook-tab {
    padding: 2px;
}
#LookingGlassDialog .notebook-tab:hover {
    color: #FFFFFF;
}
#LookingGlassDialog .notebook-tab:selected {
    background-color: #399cee;
    border-radius: 0px;
    color: #000;
}
#LookingGlassDialog .lg-inspector-title {
    font-weight: bold;
    padding-bottom: 8px;
}
.lg-dialog StLabel {
    color: #cccccc;
}
.lg-dialog StEntry {
    color: #cccccc;
    selection-background-color: #cccccc;
    selected-color: white;
}
.lg-obj-inspector-title {
    spacing: 4px;
}
.lg-obj-inspector-button {
    border: 1px solid #cccccc;
    padding: 4px;
    border-radius: 4px;
}
.lg-obj-inspector-button:hover {
    border: 1px solid #ffffff;
}
.lg-dialog .cinnamon-link {
    color: #cccccc;
}
.lg-dialog .cinnamon-link:hover {
    color: #ffffff;
}
#LookingGlassDialog StBoxLayout#EvalBox {
    padding: 4px;
    spacing: 4px;
}
#LookingGlassDialog StBoxLayout#ResultsArea {
    spacing: 4px;
}
#lookingGlassExtensions {
    padding: 4px;
}
.lg-extension-list {
    padding: 4px;
    spacing: 6px;
}
.lg-extension {
    border: 1px solid #6f6f6f;
    border-radius: 4px;
    padding: 4px;
}
.lg-extension-name {
    font-weight: bold;
}
.lg-extension-meta {
    spacing: 6px;
}
#LookingGlassPropertyInspector {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0px;
    border: 1px solid #333;
    padding: 6px;
    color: #B8FF66;
}

/* ===================================================================
 * Date applet
 * ===================================================================*/

.calendar {
    padding: .4em 1.75em;
    spacing-rows: 0px;
    spacing-columns: 0px;
}

.calendar-month-label {
    color: #D2D2D2;
    font-size: 7.5pt;
    padding-bottom: 8px;
    padding-top: 8px;
}

.calendar-change-month-back {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-left.png");
    border-radius: 4px;
    border: 0px solid rgba(0,0,0,0);
}

.calendar-change-month-back:rtl {
    background-image: url("calendar-arrow-right.png");
}

.calendar-change-month-back:hover {
    background-color: #2c2c2c;
}
.calendar-change-month-back:active {
    background-color: #2c2c2c;
}

.calendar-change-month-forward {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-right.png");
    border-radius: 4px;
    border: 0px solid rgba(0,0,0,0);
}

.calendar-change-month-forward:rtl {
    background-image: url("calendar-arrow-left.png");
}

.calendar-change-month-forward:hover {
    background-color: #2c2c2c;
}

.calendar-change-month-forward:active {
    background-color: #2c2c2c;
}

.datemenu-date-label {
    padding: .4em 1.75em;
    font-size: 10.5pt;
    color: #D2D2D2;
}

.calendar-day-base {
    font-size: 7.5pt;
    text-align: center;
    width: 2.4em;
    height: 2.4em;
}

.calendar-day-base:hover {
    background-color: #2c2c2c;
    color: #D2D2D2;
}

.calendar-day-base:active {
    background-color: #2c2c2c;
}

.calendar-day-heading {
    color: #D2D2D2;
    padding-top: 1em;
}

.calendar-week-number {
    color: #D2D2D2;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
    color: #D2D2D2;
    border-top-width: 0;
    border-left-width: 0;
}
.calendar-day-top {
}
.calendar-day-left {
}

.calendar-work-day {
}

.calendar-nonwork-day {
    background-color: #232323;
}

.calendar-today {
    color: #D2D2D2;
    font-weight: bold;
    background-color: #2c2c2c;
    border-radius: 0px;
    font-size: 16px;
}

.calendar-other-month-day {
    color: #D2D2D2;
}

.calendar-day-with-events {
    font-weight: bold;
    color: #D2D2D2;
}

/* ===================================================================
 * Notifications
 * ===================================================================*/

#notification {

    border-radius: 6px;
    font-size: 8.5pt;
    background-color: #232323;
    border: 0px solid #000;
    padding: 6px 6px 6px 6px;
    spacing-rows: 10px;
    spacing-columns: 10px;
    margin-from-right-edge-of-screen: 19px;
    margin-from-top-edge-of-screen: 30px;
    width: 27em;
    color: #D2D2D2;
}
#notification.multi-line-notification {
    padding-bottom: 8px;
    color: #D2D2D2;
}
/* We use row-span = 2 for the image cell, which prevents its height preferences to be
    taken into account during allocation, so its height ends up being limited by the height
    of the content in the other rows. To avoid showing a stretched image, we set the minimum
    height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
    min-height: 159px;
    color: #D2D2D2;
}
#notification-scrollview {
    max-height: 10em;
}
#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
    height: 1em;
}
#notification-scrollview:ltr > StScrollBar {
    padding-left: 6px;
}
#notification-scrollview:rtl > StScrollBar {
    padding-right: 6px;
}
#notification-body {
    spacing: 5px;
}
#notification-actions {
    spacing: 10px;
}
.notification-button {
    border-radius: 18px;
    font-size: 11pt;
    padding: 4px 42px 5px;
}
.notification-button:focus {
    padding: 3px 41px 4px;
}
.notification-icon-button {
    border-radius: 5px;
    padding: 5px;
}
.notification-icon-button:focus {
    padding: 4px;
}
.notification-icon-button > StIcon {
    icon-size: 36px;
}
.hotplug-transient-box {
    spacing: 6px;
    padding: 2px 72px 2px 12px;
}
.hotplug-notification-item {
    padding: 2px 10px;
    border-radius: 18px;
    font-size: 10.5pt;
}
.hotplug-notification-item:focus {
    padding: 1px 71px 1px 11px;
}
.hotplug-notification-item-icon {
    icon-size: 24px;
    padding: 2px 5px;
}
.hotplug-resident-box {
    spacing: 8px;
}
.hotplug-resident-mount {
    spacing: 8px;
    border-radius: 4px;
    color: #ccc;
}
.hotplug-resident-mount:hover {
    color: #D2D2D2;
}
.hotplug-resident-mount-label {
    color: inherit;
    padding-left: 6px;
}
.hotplug-resident-mount-icon {
    icon-size: 24px;
    padding-left: 6px;
}
.hotplug-resident-eject-icon {
    icon-size: 16px;
}
.hotplug-resident-eject-button {
    padding: 7px;
    border-radius: 5px;
    color: #ccc;
}
#notification StEntry {
    padding: 4px;
    border-radius: 4px;
    color: #a8a8a8;
    selected-color: white;
    border: 0px solid rgba(245,245,245,0.2);
    transition-duration: 300;
    caret-color: #a8a8a8;
    caret-size: 1px;
}
#notification StEntry:focus {
    border: 0px solid #8b8b8b;
    color: #D2D2D2;
    caret-color: #545454;
    selection-background-color: #808080;
}

/* ===================================================================
 * Alt Tab
 * ===================================================================*/

#altTabPopup {
    padding: 8px;
    spacing: 16px;
}

.switcher-list {
    background-color: #2d75ad;
    background-gradient-direction: vertical;
    background-gradient-start: #2d75ad;
    background-gradient-end: #013b6b;
    border-radius: 4px;
    padding: 20px;
    border: solid 1px white;
    box-shadow: 2px solid rgba(0,0,0,0.4) 2px 2px;
    color: white;
    border-image: url('tab.png') 4 4 4 4;
}

.switcher-list-item-container {
    spacing: 8px;
}

.thumbnail-scroll-gradient-left {
    background-color: #2d75ad;
    border-radius: 24px;
    border-radius-topright: 0px;
    border-radius-bottomright: 0px;
    width: 60px;
}

.thumbnail-scroll-gradient-right {
    background-color: #2d75ad;
    border: 1px solid  #399cee;
    border-radius: 0px;
    width: 60px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.switcher-list .item-box {
    padding: 8px;
    color: white;
    border: 4px solid rgba(0,0,0,0);
    border-radius: 8px;
}

.switcher-list .item-box:outlined {
    background-color: #399cee;
    border-radius: 0px;
}

.switcher-list .item-box:selected {
    border-radius: 0px;
    border: 4px solid #379aff;
}

.switcher-list .thumbnail-box {
    padding: 2px;
    spacing: 4px;
}

.switcher-list .thumbnail {
    width:  256px;
}

.switcher-list .separator {
    width: 1px;
    background: rgba(255,255,255,0.33);
}

.ripple-box {
    width: 300px;
    height: 300px;
    background-gradient-end: rgba(57,156,238,0.8);
    background-gradient-start: rgba(0,0,0,0.3);
    background-gradient-direction: radial;
    box-shadow: outset 0px 0px 5px 5px #399cee;
    border-radius: 150px;
}

.ripple-box:rtl {
    width: 300px;
    height: 300px;
    background-gradient-end: rgba(57,156,238,0.8);
    background-gradient-start: rgba(0,0,0,0.3);
    background-gradient-direction: radial;
    box-shadow: outset 0px 0px 5px 5px #399cee;
    border-radius: 150px;
}

.switcher-arrow {
    border-color: rgba(0,0,0,0);
    color: #808080;
}

.switcher-arrow:highlighted {
    border-color: rgba(0,0,0,0);
    color: white;
}

.switcher-preview-backdrop {
   background-color: rgba(25,25,25,0.95);
}

/* ===================================================================
 * Modal dialogs
 * ===================================================================*/

.modal-dialog {
    font-size: 10pt;
    border-radius: 2px;
    background-color: #232323
    border: 0px solid #404040;
    color: #D2D2D2;
    padding-right: 42px;
    padding-left: 42px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.modal-dialog-button-box {
    spacing: 21px;
}

.modal-dialog-button {
    font-size: 10pt;
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px 32px 5px;
}

.modal-dialog-button:hover {
}

.modal-dialog-button:active,
.modal-dialog-button:checked {
    color: #D2D2D2
    border-image: url('buttons/button-focused-pressed.png') 5;
}

.modal-dialog-button:disabled {
    color: rgb(60, 60, 60);
}

.modal-dialog-button:focus {
    padding: 3px 31px 4px;
}

/* ===================================================================
 * Run dialog
 * ===================================================================*/

.run-dialog-label {
    font-size: 9pt;
    color: #D2D2D2;
}

.run-dialog-error-label {
    font-size: 9pt;
    color: #D2D2D2;
}

.run-dialog-error-box {
    padding-top: 15px;
    spacing: 5px;
}

.run-dialog-entry {
    font-size: 10pt;
    font-weight: normal;
    background-color: #2C2C2C;
    border: 0px solid #6C4131;
    border-radius: 0;
    color:  #D2D2D2;
    selected-color:  #2C2C2C;
    caret-color:  #D2D2D2;
    caret-size: 2px;
    padding: 2px;
    padding-left: 6px;
    width: 18em;
}

.run-dialog-completion-box {
    padding-left: 15px;
    font-size: 10px;
}

.run-dialog {
    padding-right: 41px;
    padding-left: 41px;
    padding-bottom: 35px;
    padding-top: 35px;
    color:  #D2D2D2;
/*    border-image: url('rundialog.png') 4 4 4 4;*/
    background-color: #232323;
    border: 4px solid #232323;

}

.lightbox {
    background-color: rgba(0, 0, 0, 0.0);
}

/* ===================================================================
 * End session dialog
 * ===================================================================*/

.end-session-dialog {
    spacing: 42px;
}
.end-session-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: #D2D2D2;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 30px;
}
.end-session-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}
.end-session-dialog-description {
    font-size: 10pt;
    color: white;
    padding-left: 17px;
    width: 28em;
}
.end-session-dialog-description:rtl {
    padding-right: 17px;
}
.end-session-dialog-logout-icon {
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 0px;
    width: 32px;
    height: 32px;
}
.end-session-dialog-shutdown-icon {
    width: 32px;
    height: 32px;
}
.end-session-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 42px;
    padding-left: 49px;
    padding-right: 32px;
}
.end-session-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}
.end-session-dialog-app-list-item {
    color: #ccc;
}
.end-session-dialog-app-list-item:hover {
    color: white;
}
.end-session-dialog-app-list-item:ltr {
    padding-right: 1em;
}
.end-session-dialog-app-list-item:rtl {
    padding-left: 1em;
}
.end-session-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}
.end-session-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}
.end-session-dialog-app-list-item-name {
    font-size: 10pt;
}
.end-session-dialog-app-list-item-description {
    font-size: 8pt;
    color: #444444;
}
/* CinnamonMountOperation Dialogs */
.cinnamon-mount-operation-icon {
    icon-size: 48px;
}
.mount-password-reask {
    color: red;
}
.show-processes-dialog,
.mount-question-dialog {
    spacing: 24px;
}
.show-processes-dialog-subject,
.mount-question-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: #5a606f;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;
}
.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}
.show-processes-dialog-description,
.mount-question-dialog-description {
    font-size: 10pt;
    color: white;
    padding-left: 17px;
    width: 28em;
}
.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
    padding-right: 17px;
}
.show-processes-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 24px;
    padding-left: 49px;
    padding-right: 32px;
}
.show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}
.show-processes-dialog-app-list-item {
    color: #ccc;
}
.show-processes-dialog-app-list-item:hover {
    color: white;
}
.show-processes-dialog-app-list-item:ltr {
    padding-right: 1em;
}
.show-processes-dialog-app-list-item:rtl {
    padding-left: 1em;
}
.show-processes-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}
.show-processes-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}
.show-processes-dialog-app-list-item-name {
    font-size: 10pt;
}

/* ===================================================================
 * Policykit authentication dialog
 * ===================================================================*/

.polkit-dialog {
    /* this is the width of the entire modal popup */
    width: 500px;
}

.polkit-dialog-main-layout {
    spacing: 24px;
    padding: 10px;
}

.polkit-dialog-message-layout {
    spacing: 16px;
}

.polkit-dialog-headline {
    font-size: 12pt;
    font-weight: bold;
    color: #5a606f;
}

.polkit-dialog-description {
    font-size: 10pt;
    color: white;
}

.polkit-dialog-user-layout {
    padding-left: 10px;
    spacing: 10px;
}

.polkit-dialog-user-layout:rtl {
    padding-left: 0px;
    padding-right: 10px;
}

.polkit-dialog-user-root-label {
    color: #ff0000;
}

.polkit-dialog-password-label:ltr {
    padding-right: 0.5em;
}

.polkit-dialog-password-label:rtl {
    padding-left: 0.5em;
}

.polkit-dialog-password-entry {
    background-gradient-start: rgb(236,236,236);
    background-gradient-end: white;
    background-gradient-direction: vertical;
    color: white;
    border-radius: 5px;
    border: 2px solid #555753;
}

.polkit-dialog-password-entry:focus {
    border: 2px solid #3465a4;
}

.polkit-dialog-password-entry .capslock-warning {
    icon-size: 16px;
    warning-color: #999;
    padding: 0 4px;
}

.polkit-dialog-error-label {
    font-size: 10pt;
    color: #ffff00;
    padding-bottom: 8px;
}

.polkit-dialog-info-label {
    font-size: 10pt;
    padding-bottom: 8px;
}

/* intentionally left transparent to avoid dialog changing size */
.polkit-dialog-null-label {
    font-size: 10pt;
    color: rgba(0,0,0,0);
    padding-bottom: 8px;
}

.network-dialog-secret-table {
    spacing-rows: 15px;
}

/* ===================================================================
 * Magnifier
 * ===================================================================*/


.magnifier-zoom-region {
    border: 2px solid rgba(128, 0, 0, 255);
}

.magnifier-zoom-region.full-screen {
    border-width: 0px;
}

/* ===================================================================
 * On screen keyboard
 * ===================================================================*/


#keyboard {
        background-gradient-direction: vertical;
          background-gradient-start: #000;
          background-gradient-end: #000;

}

.keyboard-layout {
    spacing: 10px;
    padding: 10px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    min-height: 32px;
    min-width: 23px;
    background-gradient-direction: vertical;
    background-gradient-start: #5b5b5b;
    background-gradient-end:  #5b5b5b;
    font-size: 14pt;
    font-weight: bold;
    border-radius: 1px;
border: 1px #717171;
border-bottom: 0px;
border-left: 0px;
border-right: 0px;
      color: #eaeaea;
}

.keyboard-key:grayed {
    background-gradient-direction: vertical;
    background-gradient-start: #272727;
    background-gradient-end: #272727;
border: 1px rgba(120,120,120,1);
border-bottom: 0px;
border-left: 0px;
border-right: 0px;
border-radius: 1px;
}

.keyboard-key:checked,
.keyboard-key:hover {
    background-gradient-direction: vertical;
    background-gradient-start: #399cee;
    background-gradient-end: #399cee;
border: 1px #76d2ec;
  border-bottom: 0px;
      border-left: 0px;
      border-right: 0px;
border-radius: 1px;
    color: #fff;

}

.keyboard-key:active {
    background-gradient-direction: vertical;
    background-gradient-start: #399cee;
    background-gradient-end: #399cee;
border: 1px #76d2ec;
  border-bottom: 0px;
      border-left: 0px;
      border-right: 0px;
border-radius: 1px;
    color: #fff;

}

.keyboard-subkeys {
    color: white;
    padding: 5px;
    -arrow-border-radius: 2px;
    -arrow-background-color: #1b1b1c;
    -arrow-border-width: 1px;
    -arrow-border-color: #399cee;
    -arrow-base: 10px;
    -arrow-rise: 5px;
    -boxpointer-gap: 5px;
}

/* ###################################################################
 * Cinnamon Specific Section
 * ###################################################################*/

/* ===================================================================
 * Menu (menu.js)
 * ===================================================================*/

/* Main menu title */

.menu-favorites-box {
    color: #D2D2D2;
    margin: auto;
    padding: 0px;
    background-color: transparent;
    border-radius: 0px;
    border-image: url('favs.png') 5 5 5 5;
    width: 100%;
}

.menu-background {
    border: solid 0px transparent;
    border-image: url("menu-bg.png") 8 8 56 41;
    padding: 0px 1px 10px 1px;
}

.menu-favorites-button {
    padding: 10px;
    border-radius: 0px;
}

.menu-favorites-button:hover {
    background-color: #232323;
}

.menu-places-box {
      margin: auto;
      padding: 8px;
}

.menu-places-button {
    padding: 10px;
}

.menu-categories-box {
    padding: 8px;
}

.menu-applications-box {
    padding: 10px 0px 0px 10px;
    background-color: transparent;
    border: none;
/*    border-image: url('favs.png') 5 5 5 5;*/
}

.menu-applications-inner-box {
    padding: 0 5px 5px 0;
    background-color: transparent;
}

.menu-applications-box StScrollBar {
    padding: 0px;
}

.menu-applications-box StScrollView {
    border: 0px solid #232323;
    border-image: none;
    border-right-width: 0px;
}


.menu-applications-box StBin#trough {
    background: none;
    box-shadow: none;
    border-image: url('trough-scrollbar-vert.png') 1;
}

.menu-applications-box StButton#vhandle {
    border-image: url('slider-vert.png') 3;
    background: url('handle-vert.png') no-repeat center center;
}

.menu-applications-box StButton#vhandle:hover {
    border-image: url('slider-vert-hover.png') 3;
    background: url('handle-vert.png') no-repeat center center;
}

.menu-application-button {
    padding: 7px;
    max-width: 10px;
    color: #D2D2D2;
}

.menu-application-button-selected {
    padding: 7px;
    color: #D2D2D2;
    background-color: #2C2C2C;
}

.menu-application-button-label:ltr {
      padding-left: 5px;
}

.menu-application-button-label:rtl {
      padding-right: 5px;
}

.menu-category-button {
    padding: 7px;
    color: white;
}

.menu-category-button-greyed {
    padding: 7px;
    color: #808080;
}

.menu-category-button-selected {
    padding: 7px;
    color: #D2D2D2;
    background-color: #2C2C2C;
}

.menu-category-button-label:ltr {
    padding-left: 5px
}

.menu-category-button-label:rtl {
    padding-right: 5px
}

.menu-selected-app-box {
    padding-top: 16px;
    padding-right: 30px;
    padding-left: 28px;
    text-align: right;
    color: white;
}

.menu-selected-app-title {
    font-weight: bold;
}

.menu-selected-app-description {
    max-width: 150px;
}

#menu-search-entry, #menu-search-entry:hover, #menu-search-entry:focus {
    padding: 5px 6px;
    color: #D2D2D2;
    font: 9pt;
    height: 18px;
    width: 250px;
    selected-color: #D2D2D2;
    caret-color: #D2D2D2;
    border-image: url('menu-search-entry.png') 3;
    caret-size: 1px;
    margin-bottom: 10px;
    /*margin-left: 12px; move the searchbox to the right */
}

.menu-search-box {
   padding-left: 20px;
   padding-bottom: 1px;
}

.menu-search-entry-icon {
    icon-size: 1em;
    color: #D2D2D2;
}

/* Context menu (at the moment only for favorites) */
.menu-context-menu {
}

/* ===================================================================
 * Window list (windowList.js)
 * ===================================================================*/
.window-list-box {
    spacing: 6px;
    padding-top: 3px;
}

.window-list-item-label {
    padding: 0px 0px 0px 0px;
    font-weight: normal;
    width: 15em;
    min-width: 5px;
}

.window-list-item-box {
    border-image: url('panel-button-normal.png');
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    transition-duration: 100;
    color: #D2D2D2;
}

.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus    {
    border-image: url('panel-button-active.png');
    color: #D2D2D2;
}


.window-list-item-box:hover  {
    border-image: url('panel-button-normal-hover.png');
    color: #D2D2D2;
}

.window-list-item-box:focus:hover  {
    border-image: url('panel-button-active-hover.png');
    color: #D2D2D2;
}

.window-list-item-demands-attention {
    border-image: url('panel-button-urgent.png');
    color: #D2D2D2;
}

.window-list-preview {
    background: #232323;
    border: 0px solid #232323;
    border-radius: 0px;
    font-size: 9pt;
    color: #D2D2D2;
    text-shadow: black 0px 0px 0px;
    padding: 8px;
    spacing: 4px;
}
/* ===================================================================
 * Sound Applet (status/volume.js)
 * ===================================================================*/
 .sound-player StButton {
     width: 18px;
     height: 18px;
     padding: 5px;
     color: #D2D2D2;
 }

 .sound-player StButton:small {
     width: 16px;
     height: 16px;
 }

 .sound-player StButton:small StIcon {
     icon-size: 1.2em;
 }

 .sound-player StButton StIcon {
     icon-size: 1.5em;
 }

 .sound-player StButton:hover, .sound-player StButton:active {
     color: #D2D2D2;
 }

 .sound-player .slider {
     height: 0.5em;
     -slider-height: 0.5em;
     -slider-background-color: #D2D2D2;
     -slider-border-color: rgba(0,0,0,0);
     -slider-active-background-color: #2C2C2C;
     -slider-active-border-color: rgba(0,0,0,0);
     -slider-border-width: 0px;
     -slider-handle-radius: 0px;
 }

 .sound-player StBoxLayout {
     spacing: 0.5em;
 }

 .sound-player>StBoxLayout {
     padding: 0 16px 8px;
 }

 .sound-player-overlay {
     width: 300px;
     padding: 12px 16px;
     spacing: 0.5em;
     background-color: #232323;
     color: #D2D2D2;
     border-top: 0px solid #a5a5a5;
 }


 .sound-player-overlay StBoxLayout {
     padding-top: 2px;
 }

 .sound-player-generic-coverart {
     background: #232323;
 }

 .sound-player-overlay StButton > StIcon {
     icon-size: 16px;
 }

.sound-player-overlay StButton {
    color: #D2D2D2;
    background-color: #232323;
}

.sound-player-overlay StButton:hover {
  color: #D2D2D2;
  background-color: #2C2C2C;
}

.sound-player-overlay StButton:focus {
  color: #D2D2D2;
  background-color: #2C2C2C;
}

.sound-player-overlay StButton:active {
  color: #D2D2D2;
  background-color: #2C2C2C;
}

/* ===================================================================
 * Workspace Switcher applet (workspaceSwitcher.js)
 * ===================================================================*/

/* ===================================================================
 * Panel Launchers Applet (panelLaunchers.js)
 * ===================================================================*/

 .panel-launchers {
     padding-left: 7px;
     spacing: 2px;
 }

 .panel-launchers.vertical {
     padding-top: 2px;
     padding-bottom: 2px;
     padding-left: 0px;
     padding-right: 0px;
     spacing: 3px;
 }

 .launcher {
     padding-left: 1px;
     padding-right: 1px;
     border-bottom-width: 1px;
     transition-duration: 300;
 }

 .launcher .icon-box {
     padding-top: 2px;
 }

 .panel-launchers.vertical .launcher .icon-box {
     padding-top: 0;
 }

 .panel-launchers .launcher:hover {
     background-color: #2C2C2C;
     border-bottom-width: 0px;
 }
/* ===================================================================
 * Overview corner
 * ===================================================================*/
#overview-corner {
    background-image: url("overview.png");
}

#overview-corner:hover {
    background-image:  url("overview-hover.png");
}

/* ===================================================================
 * Applets (applet.js)
 * ===================================================================*/
.applet-separator {
    padding: 5px 4px;
}
.applet-separator-line {
    width: 1px;
    background: #232323;
}

.applet-box {
    padding-left: 6px;
    padding-right: 6px;
    transition-duration: 300;
    color:  #D2D2D2;
}
.applet-box:hover {
    background-color: transparent;
    color:  #D2D2D2;
    transition-duration: 100;
}
.applet-box:active {
    background-color: transparent;
    color:  #D2D2D2;
    transition-duration: 100;

}

.applet-label:hover,
.applet-box:hover > .applet-label {
    color:  #D2D2D2;
}

.applet-icon {
    icon-size: 1.3em;
}

.applet-icon:hover,
.applet-box:hover > .applet-icon {}

.applet-label {
    font-weight: bold;
}

.applet-label:hover {
    font-weight: bold;
}

/* ===================================================================
 * Workspace OSD
 * ===================================================================*/
/* When switching workspaces*/

.workspace-osd {
    color: #D2D2D2;
    font-size: 25pt;
    text-align: center;
    background: #232323;
    border: 4px solid #232323;
    border-radius: 0px;
    padding: 0.5em 1em;
}

.expo-workspaces-name-entry {
    padding: 5px;
    padding-bottom: 7px;
    color: #D2D2D2;
    border: 0px solid gray;
    background-color: #2C2C2C;
    selected-color: #2C2C2C;
    caret-color:#D2D2D2;
    caret-size: 1px;
    height: 16px;
    text-align: center;
}

.expo-workspaces-name-entry#selected {
    background-color: #2C2C2C;
    padding: 5px;
    padding-bottom: 7px;
    border: 0px solid #399cee;
    text-align: center;
    height: 16px;
}

.expo-workspaces-name-entry:focus {
    padding: 5px;
    padding-bottom: 7px;
    color: white;
    transition-duration: 300;
    text-align: center;
}

/* ===================================================================
 * Notification Applet
 * ===================================================================*/

.notification-applet-padding {
    padding: .5em 1em;
}

.notification-applet-container {
    max-height: 100px;
}

/* Check Boxes */
.check-box CinnamonGenericContainer {
    spacing: .2em;
    min-height: 30px;
    padding-top: 2px;
}

.check-box StBin {
    width: 24px;
    height: 18px;
    background-image: url("ch-uncheck.png");
}

.check-box:focus StBin {
    background-image: url("ch-uncheck-focus.png");
}

.check-box:checked StBin {
    background-image: url("ch-check.png");
}

.check-box:focus:checked StBin {
    background-image: url("ch-check-focus.png");
}

.check-box StLabel {
   font-weight: normal;
}

.radiobutton CinnamonGenericContainer {
    spacing: .2em;
    height: 26px;
    padding-top: 2px;
}

.radiobutton StBin {
    width: 22px;
    height: 22px;
    background-image: url("radio.png");
    border-radius: 15px;
}

.radiobutton:focus StBin {
    background-image: url("radio-focus.png");
}

.radiobutton:checked StBin {
    background-image: url("radio-sel.png");
}

.radiobutton:focus:checked StBin {
    background-image: url("radio-sel-focus.png");
}

.radiobutton StLabel {
   padding-top: 4px;
   font-size: 0.9em;
   box-shadow: none;
}

.flashspot {
   background-color: white;
}

/* ===================================================================
 * Network Data Usage Monitor applet
 * ===================================================================*/

 /* These settings govern the width of the Applet and the space taken by the font.*/

.numa-left {
    text-align: center;
    min-width: 75px;
    font-weight: bold;
    /*font-size: 95%;*/
}

.numa-right {
    text-align: center;
    min-width: 1px;
    font-weight: bold;
    /*font-size: 95%;*/
}

/* The following are the styles for the Applet backgrounds - names are self explanitory
The colour parameters are red, green, blue, and transparency or a name */

.numa-not-connected {
    background-color: rgba(0,0,0,0.0);
     border-radius: 10px;
}

.numa-connected {
    background-color: rgba(0,0,0,0);
     border-radius: 10px;
}

.numa-alert {
        color: #fff;
        border-top: 3px;
        border-bottom: 0px;
    background-gradient-direction: vertical;
    background-gradient-end: rgba(57,156,238,0.1);
    background-gradient-start: rgba(57,156,238,0.1);
        border-radius: 0px;
}

.numa-limit-exceeded {
        color: #fff;
        border-top: 3px;
        border-bottom: 0px;
    background-gradient-direction: vertical;
    background-gradient-end: rgba(57,156,238,0.1);
    background-gradient-start: rgba(57,156,238,0.1);
           border-radius: 0px;
}

/* ===================================================================
 * Snap/Tile OSD Popup
 * ===================================================================*/

.snap-osd {
    font-size: 18pt;
    border-radius: 24px;
    background-color: rgba(55,55,55,0.9);
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

/* ===================================================================
 * Grouped window list (grouped-window-list@cinnamon.org)
 * ===================================================================*/

.grouped-window-list-thumbnail-label {
    padding-left: 4px;
}
.grouped-window-list-number-label {
    z-index: 99;
    font-size: 10px;
    color:#D2D2D2;
    padding: 0;
}
.grouped-window-list-badge {
    border-radius: 256px;
    background-color: #232323
}
.grouped-window-list-button-label {
    padding-left: 4px;
}
.grouped-window-list-thumbnail-alert {
    background: #232323;
}

.grouped-window-list-item-box {
    color: rgba(255,255,255,1.0);
    transition-duration: 100;
    spacing: 0.5em;
}
.grouped-window-list-item-box.top {
}
.grouped-window-list-item-box.left {
}
.grouped-window-list-item-box.right {
}
.grouped-window-list-item-box.top,
.grouped-window-list-item-box.bottom {
    padding: 0 0.5em;
}

.grouped-window-list-item-box:checked,
.grouped-window-list-item-box:active:hover {
	background-color: #525252;
}

.grouped-window-list-item-box:focus {
}

.grouped-window-list-item-box:active:focus:hover,
.grouped-window-list-item-box:focus:hover {
	background-color: #525252;
}
.grouped-window-list-item-box:hover {
	background-color: #2c2c2c;
}

.grouped-window-list-item-box:active {
	background-color: #2c2c2c;
}

.grouped-window-list-item-demands-attention {
}

.grouped-window-list-item-box .progress {
}
.panel-top .grouped-window-list-item-box .progress {
}
.panel-left .grouped-window-list-item-box .progress {
}
.panel-right .grouped-window-list-item-box .progress {
}

.grouped-window-list-thumbnail-menu {
}
.grouped-window-list-thumbnail-menu .item-box {
    padding: 10px;
    spacing: 4px;
}
.grouped-window-list-thumbnail-menu .item-box:outlined {
    padding: 6px;
}
.grouped-window-list-thumbnail-menu .item-box:selected {
    background: #232323;
}
.grouped-window-list-thumbnail-menu .thumbnail {
    width: 256px;
}
.grouped-window-list-thumbnail-menu .separator {
    width: 1px;
    background: #232323;
}
